# Medical Insurance Cost Prediction

We have a dataset that contains several informations for an individual and based on them we are going to predict the cost of the medical insurance cost. 

The dataset has informations for:

-Age(age) of the individual

-Gender(sex) of the individual (female/male)

-Body Mass Index(bmi) of the individual (ideally 18.5 to 24.9)

-Smoking habit(smoker) of the individual (yes/no)

-Region(region) from where the individual is from (southwest, northwest, southeast, northeast) in the US

-Individual medical costs(charges) billed by health insurance

In [15]:
# Importing all the modules I will need for this project 
import pandas as pd
import numpy as np

# Data Analysis

In [5]:
# Looking at the data so we can see with what we are working with
df = pd.read_csv('insurance.csv')
print(df.head(5))

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [6]:
# The number of rows and columns in the dataframe
df.shape

(1338, 7)

In [7]:
# Transforming the region into a numerical value so later we can train the model
df['region'].unique()

array(['southwest', 'southeast', 'northwest', 'northeast'], dtype=object)

In [8]:
# Creating a new dataframe with the region as a numerical value
region_numbers = pd.get_dummies(df['region'], drop_first=True)
region_numbers.head(5)

   northwest  southeast  southwest
0          0          0          1
1          0          1          0
2          0          1          0
3          1          0          0
4          1          0          0

In [9]:
# Concatenating the region_numbers dataframe with the original dataframe and plus removing the region column
df_region = pd.concat([df, region_numbers], axis=1)
df_region.drop(['region'], axis=1, inplace=True)
df_region.head(5)

,age,sex,bmi,children,smoker,charges,northwest,southeast,southwest
0,19,female,27.900,0,yes,16884.92400,0,0,1
1,18,male,33.770,1,no,1725.55230,0,1,0
2,28,male,33.000,3,no,4449.46200,0,1,0
3,33,male,22.705,0,no,21984.47061,1,0,0
4,32,male,28.880,0,no,3866.85520,1,0,0

In [11]:
# Looking for null values in the dataframe and if we have we need to drop them
df_region.isnull().sum()

age          0
sex          0
bmi          0
children     0
smoker       0
charges      0
northwest    0
southeast    0
southwest    0
dtype: int64

In [12]:
# Grouping the dataframe by the age column with mean
df_age = df_region.groupby('age').mean()
print(df_age)

           bmi  children       charges  northwest  southeast  southwest
age
18   31.326159  0.449275   7086.217556   0.000000   0.536232   0.000000
19   28.596912  0.426471   9747.909335   0.500000   0.044118   0.455882
20   30.632759  0.862069  10159.697736   0.241379   0.275862   0.275862
21   28.185714  0.785714   4730.464330   0.250000   0.250000   0.250000
22   31.087679  0.714286  10012.932802   0.250000   0.285714   0.214286
23   31.454464  1.000000  12419.820040   0.250000   0.250000   0.250000
24   29.142679  0.464286  10648.015962   0.250000   0.250000   0.250000
25   29.693929  1.285714   9838.365311   0.250000   0.250000   0.250000
26   29.428929  1.071429   6133.825309   0.250000   0.250000   0.250000
27   29.333571  0.964286  12184.701721   0.214286   0.321429   0.214286
28   29.482143  1.285714   9069.187564   0.214286   0.285714   0.250000
29   29.383148  1.259259  10430.158727   0.259259   0.259259   0.222222
30   30.557593  1.555556  12719.110358   0.222222   0.296296   0.259259
31   29.918333  1.407407  10196.980573   0.259259   0.259259   0.222222
32   31.597692  1.269231   9220.300291   0.269231   0.307692   0.230769
33   31.163077  1.538462  12351.532987   0.230769   0.307692   0.269231
34   30.274038  1.153846  11613.528121   0.230769   0.230769   0.269231
35   31.394800  1.680000  11307.182031   0.240000   0.240000   0.280000
36   29.374200  1.240000  12204.476138   0.240000   0.280000   0.200000
37   31.216600  1.520000  18019.911877   0.280000   0.240000   0.240000
38   28.996600  1.480000   8102.733674   0.240000   0.280000   0.240000
39   29.910200  2.200000  11778.242945   0.240000   0.240000   0.280000
40   30.139074  1.592593  11772.251310   0.259259   0.296296   0.185185
41   31.506852  1.407407   9653.745650   0.259259   0.296296   0.222222
42   30.328148  1.000000  13061.038669   0.222222   0.296296   0.259259
43   30.204444  1.629630  19267.278653   0.185185   0.296296   0.259259
44   30.844259  1.222222  15859.396587   0.259259   0.296296   0.222222
45   29.778966  1.482759  14830.199856   0.241379   0.241379   0.275862
46   31.340862  1.620690  14342.590639   0.241379   0.241379   0.241379
47   30.664310  1.379310  17653.999593   0.206897   0.310345   0.241379
48   31.925690  1.310345  14632.500445   0.241379   0.310345   0.206897
49   30.313929  1.500000  12696.006264   0.250000   0.250000   0.250000
50   31.132241  1.310345  15663.003301   0.241379   0.241379   0.275862
51   31.727069  1.103448  15682.255867   0.206897   0.310345   0.241379
52   32.936034  1.482759  18256.269719   0.275862   0.241379   0.241379
53   30.360893  1.250000  16020.930755   0.250000   0.250000   0.250000
54   31.234286  1.428571  18758.546475   0.250000   0.250000   0.250000
55   31.950000  0.961538  16164.545488   0.230769   0.269231   0.269231
56   31.600962  0.769231  15025.515837   0.230769   0.230769   0.269231
57   30.844423  0.615385  16447.185250   0.269231   0.230769   0.230769
58   32.718200  0.240000  13878.928112   0.280000   0.240000   0.240000
59   30.572000  1.200000  18895.869532   0.200000   0.320000   0.240000
60   30.332826  0.347826  21979.418507   0.217391   0.260870   0.260870
61   32.548261  0.739130  22024.457609   0.260870   0.217391   0.260870
62   32.342609  0.565217  19163.856573   0.260870   0.260870   0.217391
63   31.923478  0.565217  19884.998461   0.260870   0.260870   0.260870
64   32.976136  0.772727  23275.530837   0.227273   0.363636   0.227273

In [13]:
# Describing the dataframe to see the mean, std, max, etc.
df.describe()

               age          bmi     children       charges
count  1338.000000  1338.000000  1338.000000   1338.000000
mean     39.207025    30.663397     1.094918  13270.422265
std      14.049960     6.098187     1.205493  12110.011237
min      18.000000    15.960000     0.000000   1121.873900
25%      27.000000    26.296250     0.000000   4740.287150
50%      39.000000    30.400000     1.000000   9382.033000
75%      51.000000    34.693750     2.000000  16639.912515
max      64.000000    53.130000     5.000000  63770.428010